Repository barbajs/barba: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

ci(root): :construction_worker: add circleci config
  .circleci/config.yml
Due: none

ci(root): :green_heart: fix config (test)
  .circleci/config.yml
Due: none

ci(root): :green_heart: fix typo
  .circleci/config.yml
Due: none

ci(root): :green_heart: fix lint script
  package.json
Due: prettier --write

ci(root): :green_heart: try to keep node
  .circleci/config.yml
  package.json
Due: prettier --write

ci(root): :green_heart: try with caching…
  .circleci/config.yml
Due: none

ci(root): :green_heart: remove filters?
  .circleci/config.yml
Due: none

ci(root): :green_heart: missing "steps" ?
  .circleci/config.yml
Due: none

ci(root): :green_heart: add working dir?
  .circleci/config.yml
Due: none

ci(root): :green_heart: workspace + defaults
  .circleci/config.yml
Due: none

ci(root): :green_heart: fix working directory
  .circleci/config.yml
Due: none

fix: :bug: fix case issues
  packages/core/__tests__/core/core.enter.test.ts
  packages/core/__tests__/modules/store/store.update.sort.test.ts
  packages/core/src/core.ts
  packages/core/src/modules/Prevent.ts
  packages/core/src/modules/cache.ts
  packages/core/src/modules/transitions.ts
Due: none

Rename views.ts to Views.ts
  packages/core/src/modules/Views.ts
Due: none

Rename cache.ts to Cache.ts
  packages/core/src/modules/Cache.ts
Due: none

Rename history.ts to History.ts
  packages/core/src/modules/History.ts
Due: none

Rename store.ts to Store.ts
  packages/core/src/modules/Store.ts
Due: none

Rename transitions.ts to Transitions.ts
  packages/core/src/modules/Transitions.ts
Due: none

ci(root): :green_heart: fix jest running out memory
  .circleci/config.yml
  package.json
Due: prettier --write

ci(root): :green_heart: use the right script…
  .circleci/config.yml
Due: none

ci(root): :construction_worker: build doc
  .circleci/config.yml
Due: none

ci(root): :green_heart: add fingerprint
  .circleci/config.yml
Due: none

ci(root): :green_heart: deploy doc
  .circleci/config.yml
  CI.md
Due: prettier --write

ci(root): :green_heart: local install
  .circleci/config.yml
Due: none

ci(root): :green_heart: filter master branch
  .circleci/config.yml
Due: none

docs(router): :memo: update router module description
  packages/router/src/router.ts
  typedoc.json
Due: prettier --write

:fire: remove v1 files
  .editorConfig
  .travis.yml
  dist/barba.js
  dist/barba.js.map
  dist/barba.min.js
  jsdoc.json
  karma.conf.js
  nightwatch.json
  src/Cache/BaseCache.js
  src/Dispatcher/Dispatcher.js
  src/Pjax/Dom.js
  src/Pjax/HistoryManager.js
  src/Pjax/Pjax.js
  src/Pjax/Prefetch.js
  src/Transition/BaseTransition.js
  src/Transition/HideShowTransition.js
  src/Utils/Utils.js
  src/View/BaseView.js
  src/index.js
  tests/barba-test.js
  tests/cache-test.js
  tests/dispatcher-test.js
  tests/dom-test.js
  tests/e2e/test-1/about.html
  tests/e2e/test-1/index.html
  tests/e2e/test-1/index.js
  tests/e2e/test-1/test.js
  tests/history-test.js
  tests/index.js
  tests/pjax-test.js
  tests/utils-test.js
  webpack.config.js
Due: prettier --write, eslint

:fire: delete camelcased .editorConfig
  .editorConfig
Due: none

:sparkles: add deprecation notice
  v1/index.html
Due: none

:fire: remove unused files
  v1/CNAME
  v1/Gemfile
  v1/Gemfile.lock
  v1/README.md
Due: prettier --write

:ok_hand: update barbajs.org refs + add deprecation notice
  README.md
  jsdoc.json
  package.json
Due: prettier --write

:ok_hand: update `barbajs.org` refs
  v1/demos.html
  v1/docs/Barba.BaseCache.html
  v1/docs/Barba.BaseTransition.html
  v1/docs/Barba.BaseView.html
  v1/docs/Barba.Dispatcher.html
  v1/docs/Barba.HistoryManager.html
  v1/docs/Barba.Pjax.Dom.html
  v1/docs/Barba.Pjax.html
  v1/docs/Barba.Prefetch.html
  v1/docs/Barba.Utils.html
  v1/docs/index.html
  v1/installation.html
  v1/views.html
Due: none

docs: :ok_hand: update `barba-next` refs
  .github/ISSUE_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/css/README.md
  packages/css/package.json
  packages/prefetch/README.md
  packages/prefetch/package.json
  packages/router/README.md
  packages/router/package.json
Due: prettier --write

docs(root): :memo: add v1 mention/link
  README.md
Due: prettier --write

ci(root): :green_heart: fix branches filtering
  .circleci/config.yml
Due: none

ci(root): :green_heart: missing comma
  .circleci/config.yml
Due: none

comment v2 buttons
  index.html
Due: none

ci(root): :green_heart: filter or not filter?
  .circleci/config.yml
Due: none

docs(root): :memo: add circleci badge
  README.md
Due: prettier --write

:memo: add link to doc API
  index.html
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.js) or (any of: *.{json,md})
  eslint: any of: src/**/*.js
