Repository barbajs/barba: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

docs(root): :memo: add basic usage + code documentation
  .markdownlint.json
  README.md
  TODO.md
  packages/core/src/barba.js
  packages/core/src/cache.js
  packages/core/src/dom.js
  packages/core/src/events.js
  packages/core/src/history.js
  packages/core/src/hooks.js
  packages/core/src/prevent.js
  packages/core/src/request.js
  packages/core/src/schema.js
  packages/core/src/transitions/manager.js
  packages/core/src/transitions/store.js
  packages/core/src/transitions/utils.js
  prettier.config.js
Due: prettier --write

docs(root): :bulb: update doc + add jsdoc
  .gitignore
  TODO.md
  jsdoc.json
  package.json
  packages/core/src/cache.js
  packages/core/src/request.js
  packages/core/src/schema.js
  packages/core/src/transitions/store.js
  packages/core/src/transitions/utils.js
  packages/core/src/utils.js
  packages/router/src/index.js
  packages/router/src/router.js
  packages/router/src/utils.js
  yarn.lock
Due: prettier --write

chore: :page_facing_up: comment on license…
  TODO.md
  packages/core/__tests__/barba.init.test.js
  packages/core/__tests__/barba.test.js
  packages/core/__tests__/barba.use.test.js
  packages/core/__tests__/cache.test.js
  packages/core/__tests__/dom.test.js
  packages/core/__tests__/events.test.js
  packages/core/__tests__/hooks.test.js
  packages/core/__tests__/prevent/prevent.blank.test.js
  packages/core/__tests__/prevent/prevent.corsDomain.test.js
  packages/core/__tests__/prevent/prevent.corsPort.test.js
  packages/core/__tests__/prevent/prevent.download.test.js
  packages/core/__tests__/prevent/prevent.exists.test.js
  packages/core/__tests__/prevent/prevent.hasAttr.test.js
  packages/core/__tests__/prevent/prevent.newTab.test.js
  packages/core/__tests__/prevent/prevent.sameUrl.test.js
  packages/core/__tests__/prevent/prevent.test.js
  packages/core/__tests__/transitions/manager.test.js
  packages/core/__tests__/transitions/store.add.test.js
  packages/core/__tests__/transitions/store.check.test.js
  packages/core/__tests__/transitions/store.get.page.test.js
  packages/core/__tests__/transitions/store.init.test.js
  packages/core/__tests__/transitions/store.update.test.js
  packages/core/src/barba.js
  packages/router/__tests__/router.test.js
Due: prettier --write

test(core): :white_check_mark: update tests + fix transitions sorting
  package.json
  packages/core/__mocks__/transitions.js
  packages/core/__tests__/transitions/helpers.test.js
  packages/core/__tests__/transitions/store.add.test.js
  packages/core/__tests__/transitions/store.destroy.test.js
  packages/core/__tests__/transitions/store.get.page.test.js
  packages/core/__tests__/transitions/store.getters.test.js
  packages/core/__tests__/transitions/store.init.test.js
  packages/core/__tests__/transitions/store.update.sort.test.js
  packages/core/__tests__/transitions/store.update.test.js
  packages/core/__tests__/transitions/utils.test.js
  packages/core/src/transitions/store.js
  packages/core/src/transitions/utils.js
  packages/router/__tests__/router.test.js
  yarn.lock
Due: prettier --write

test: :construction: more tests + build + report
  .gitignore
  package.json
  packages/core/__mocks__/barba.js
  packages/core/__tests__/barba.click.test.js
  packages/core/__tests__/barba.enter.test.js
  packages/core/__tests__/barba.init.test.js
  packages/core/__tests__/barba.plugin.test.js
  packages/core/__tests__/barba.test.js
  packages/core/__tests__/dom.test.js
  packages/core/__tests__/history.test.js
  packages/core/__tests__/hooks.test.js
  packages/core/__tests__/transitions/manager.appear.test.js
  packages/core/__tests__/transitions/manager.async.test.js
  packages/core/__tests__/transitions/manager.page.test.js
  packages/core/__tests__/transitions/manager.test.js
  packages/core/__tests__/transitions/store.destroy.test.js
  packages/core/src/barba.js
  packages/core/src/dom.js
  packages/core/src/history.js
  packages/core/src/transitions/manager.js
  packages/core/src/transitions/store.js
  packages/core/webpack.config.js
  packages/router/__tests__/router.test.js
  packages/router/__tests__/utils.test.js
  packages/router/src/router.js
  packages/router/webpack.config.js
  webpack.config.js
  yarn.lock
Due: prettier --write

imp(core): :bug: fix refreshPages
  packages/core/src/barba.js
Due: none

chore: :memo: add todo/questions
  TODO.md
Due: prettier --write

test: :white_check_mark: reach 100% coverage (e2e tests still needed)
  TODO.md
  packages/core/__mocks__/barba.js
  packages/core/__tests__/barba.click.js
  packages/core/__tests__/barba/barba.appear.test.js
  packages/core/__tests__/barba/barba.click.test.js
  packages/core/__tests__/barba/barba.do.test.js
  packages/core/__tests__/barba/barba.enter.test.js
  packages/core/__tests__/barba/barba.force.test.js
  packages/core/__tests__/barba/barba.init.test.js
  packages/core/__tests__/barba/barba.plugin.test.js
  packages/core/__tests__/barba/barba.state.test.js
  packages/core/__tests__/barba/barba.test.js
  packages/core/__tests__/dom.test.js
  packages/core/src/barba.js
  packages/core/src/utils.js
Due: prettier --write

Test
  package.json
  yarn.lock
Due: prettier --write

build: :wrench: fix umd build
  package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/transitions/store.js
  packages/core/webpack.config.js
  packages/router/webpack.config.js
  webpack.config.js
  yarn.lock
Due: prettier --write

refactor(core): :bug: fix wrong indexOf condition
  packages/core/src/transitions/store.js
Due: none

imp(core): :sparkles: add "running" status
  packages/core/__tests__/barba/barba.go.test.js
  packages/core/src/barba.js
  packages/core/src/transitions/manager.js
Due: none

imp(core): :sparkles: add views
  TODO.md
  packages/core/__tests__/views.test.js
  packages/core/src/barba.js
  packages/core/src/views.js
Due: prettier --write

build(root): :heavy_plus_sign: add commitlint
  package.json
  yarn.lock
Due: prettier --write

imp(root): :wrench: commitlint config
  commitlint.config.js
Due: none

build: :wrench: last commitlint config
  commitlint.config.js
Due: none

build(root): :heavy_plus_sign: add commitlint-config-ccgls
  package.json
  yarn.lock
Due: prettier --write

docs(root): :memo: Add TODO
  TODO.md
Due: prettier --write

docs(core): :memo: Implement JSDoc so that VSCode intellisense can recognize it
  packages/core/src/barba.js
  packages/core/src/defs.js
  packages/core/src/schema.js
Due: none

build(root): :wrench: update build config (browser, main, module)
  package.json
  packages/core/.babelrc
  packages/core/webpack.config.js
  packages/router/webpack.config.js
  yarn.lock
Due: prettier --write

test(core): :white_check_mark: Add E2E tests with cypresswq
  .gitignore
  package.json
  packages/core/__e2e__/tests/index.spec.js
  packages/core/__e2e__/web/detail.html
  packages/core/__e2e__/web/index.html
  packages/core/cypress.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

Fix new page load when link contains anchor
  src/Pjax/Pjax.js
Due: prettier --write, eslint

Build with link anchor fix
  dist/barba.js
  dist/barba.js.map
  dist/barba.min.js
Due: none

refactor(router): :recycle: use leading slash for route paths
  packages/router/__tests__/router.test.js
  packages/router/__tests__/utils.test.js
  packages/router/src/router.js
  packages/router/src/utils.js
Due: none

chore: :memo: add notes
  BROWSERS.md
  TODO.md
Due: prettier --write

docs: :memo: update README / CONTRIBUTING
  CONTRIBUTING.md
  README.md
  TODO.md
  packages/core/README.md
  packages/core/src/transitions/store.js
  packages/router/README.md
Due: prettier --write

refactor(core): :ok_hand: force reload on same url
  packages/core/src/barba.js
Due: none

docs: :memo: improve doc
  README.md
  packages/core/README.md
  packages/router/README.md
Due: prettier --write

chore: :memo: add notes
  TODO.md
  packages/core/package.json
  packages/router/package.json
Due: prettier --write

chore: :pencil2: update repo URL
  CONTRIBUTING.md
  README.md
  packages/core/README.md
  packages/core/package.json
  packages/router/README.md
  packages/router/package.json
Due: prettier --write

chore: :wrench: add GitHub issue template
  .github/ISSUE_TEMPLATE.md
  TODO.md
Due: prettier --write

chore: :wrench: remove yarn.lock
  yarn.lock
Due: none

chore: :wrench: add yarn.lock
  yarn.lock
Due: none

build: :wrench: test npm registry / publish
  lerna.json
Due: prettier --write

chore: :memo: add authors by package
  packages/core/AUTHORS
  packages/router/AUTHORS
Due: none

chore: :memo: notes migration
  NOTES.md
  TODO.md
Due: prettier --write

chore: :memo: update prerelease command
  NOTES.md
Due: prettier --write

chore: :memo: add Slack join link
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.js) or (any of: *.{json,md})
  eslint: any of: src/**/*.js
